{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}

<head>
  <title>{% block title %}RGPI MCC | My Profile{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_mcc.png' %}" sizes="96x96">
  {% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  {% endblock css %}
</head>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <!-- User profile -->
      <div data-aos="fade-right" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User Profile</h3>
        </div>
        <div class="panel-body">
          <div class="profile__avatar">
            <img data-aos="fade-right" src="{{ user.profile.image.url }}" alt="...">
          </div>
          <div class="profile__header">
            <h4>{{ user.get_full_name }}<small> {{ user.groups.get }}</small></h4>
            <p class="text-muted">
              {{ user.profile.bio }}
            </p>
            <p>
              <!-- <a href="#">bootdey.com</a> -->
            </p>
          </div>
        </div>
      </div>

      <!-- User info -->
      <div data-aos="fade-right" class="panel panel-default">
        <div class="panel-heading">
          <br>
          <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Username</strong></th>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <th><strong>Assigned Site</strong></th>
                <td>{{ user.profile.site }}</td>
              </tr>
              <tr>
                <th><strong>Position</strong></th>
                <td>{{ user.profile.department }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Community -->
      <div data-aos="fade-right" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Important Dates</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Last Login</strong></th>
                <td>{{ user.last_login }}</td>
              </tr>
              <tr>
                <th><strong>Created Date</strong></th>
                <td>{{ user.date_joined }}</td>
              </tr>
              <tr>
                <th><strong>Account Status</strong></th>
                <td>{{ user.is_active }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <div data-aos="fade-left" class="col-xs-12 col-sm-3">


      <!-- Contact user -->
      <p>
        <a data-aos="fade-left" class="btn btn-lg btn-block btn-info"
          href="{% url 'profile_edit' username=user.username %}">
          Edit Profile
        </a>
      </p>

      <hr>

      <!-- Contact info -->
      <div class="profile__contact-info">
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Mobile number</h5>
            {{ user.profile.contact_no }}
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-envelope-square"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">E-mail address</h5>
            <a href="">{{ user.email }}</a>
          </div>
        </div>
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">Home address</h5>
            {{ user.profile.address }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock javascript %}