{% load static %}
<div class="container text-white bg-primary p-4" id="detailsBottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12" >
            <address>
            <strong id="brandBottom">Right Goods Philippines Incorporated</strong><br>
              #2 M De Leon St.<br>
              Santolan, Pasig City, Metro Manila<br>
            <abbr title="Phone"></abbr>Tel No. 632 8646 6078 To 80<br>
            <abbr title="Phone"></abbr>CP No. 0917 828 9021
            </address>
            <strong id="brandBottom">ITD-RDA</strong><br>
            <a href="mailto:#" id='emailBottom'>itd.rda@gamboagroup.com.ph</a> 
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12" >
            <address>
            <strong id="brandBottom"></strong><br>
              WH 29-31 STMI Logistics Compound<br>
              KM 52, Lawa Rd, Lawa, Calamba City, Laguna<br>
            <abbr title="Phone"></abbr>Tel No.
            </address>
            <strong id="brandBottom">ITD-EUS</strong><br>
            <a href="mailto:#" id='emailBottom'>itd.eus@gamboagroup.com.ph</a>
            </address>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © <strong>RGPI IT-Lions.</strong> <img src="{% static 'images/itd_ico.png' %}" alt="" weight="20px" height="20px" class="d-inline-block" >
                V1.0.4. All rights reserved {% now "Y" %}.</p>
          </div>
        </div>
      </div>
    </footer>