{% load static %}
<!-- Start: Features Clean -->
<div class="features-clean">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center" data-aos="zoom-in-up" id="downloadableContent">Downloadable Files</h2>
        </div>
        <!-- End: Intro -->
        <!-- Start: Features -->
        <div class="row features">
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://58.71.87.100:5000/fsdownload/I9dE7XuN6/SALES%20TO%20DATE%20RAW%20DATA" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">Sales to date</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://121.58.236.114:5000/fsdownload/So2ijw5Ck/GOLDEN%20POINTS" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">KA Golden Points</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://58.71.87.100:5000/sharing/KXIrZwJct" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">KA IMR Tracking</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://121.58.236.114:5000/fsdownload/COSiiYlde/GOLDEN%20POINTS" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">GMA Golden Points</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://121.58.236.114:5000/fsdownload/BEBhY5TMV/DPEC%20GOLDEN%20POINTS" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">DPEC Golden Points</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://58.71.87.100:5000/fsdownload/XrtAWM0ew/Coverage%20vs%20Productivity" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">SOS &amp; SOD</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://58.71.87.100:5000/fsdownload/K2GYRyaGY/IT-ALDWIN-%20IMR%20%26%20KA%20TRACKING"><i class="fa fa-download icon"></i></a>
                <h3 class="name">South Golden Points</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://58.71.87.100:5000/fsdownload/nXB4SeKoj/IT-ALDWIN-SOS%26SOD" target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">Coverage Compliance</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://121.58.236.114:5000/fsdownload/yVHnGuG5E/07%20-%20January%202021" 
                target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">HFS Nitro</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="http://121.58.236.114:5000/fsdownload/F70Ud9afi/UTILIZATIONS" 
                target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">BP Utilization</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" data-aos="fade-up"><a href="#" 
                target="_blank"><i class="fa fa-download icon"></i></a>
                <h3 class="name">Scorecard</h3>
                <p class="description">Download file by clicking the image.<br></p>
            </div>
        </div>
        <!-- End: Features -->
    </div>
</div>
<!-- End: Features Clean -->
 <!-- Start: Footer Basic -->
 <div class="footer-basic">
    <footer>
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">GGC CRM</a></li>
            <li class="list-inline-item"><a href="#">Netsuite</a></li>
            <li class="list-inline-item"><a href="#">Ivy Mobility</a></li>
            <li class="list-inline-item"><a href="#">Stackbox</a></li>
        </ul>
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Copyright © <strong>RGPI IT-Lions.</strong> <img src="{% static 'images/itd_ico.png' %}" alt="" weight="20px" height="20px" class="d-inline-block" >
            V1.0.4. All rights reserved {% now "Y" %}.</p>
        <!-- End: Copyright -->
    </footer>
</div>