{% load static %}
<div class="card" data-aos="zoom-in"></div>
<!-- Start: Article List -->
<div class="article-list">
    <div class="container">
        <!-- Start: Intro -->
        <div data-aos="zoom-in" class="intro">
            <h2 class="text-center">Latest Dashboard</h2>
            <p class="text-center">See our latest and updated dashboards here. </p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Articles -->
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item" data-aos="fade-right"><a href="#"><img class="img-fluid"
                        src="{% static 'images/territorial.png' %}"></a>
                <h3 class="name">Territorial Dashboard</h3>
                <p class="description">Territorial Tracking Report shows the covered area where RGPI distributes
                    P&amp;G products throughout Luzon. It also shows which area has more customer we serve including new
                    stores</p><a class="action" href="#"></a>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="zoom-in"><a href="#"><img class="img-fluid"
                        src="{% static 'images/volume_cases.png' %}"></a>
                <h3 class="name">Volume Cases Tracking</h3>
                <p class="description">Case Tracking shows the daily distributed case to RGPI customer.</p><a
                    class="action" href="#"></a>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-left"><a href="#"><img class="img-fluid"
                        src="{% static 'images/hfs_golden_coins.png' %}"></a>
                <h3 class="name">HFS Golden Coins Ranking</h3>
                <p class="description">Our latest dashboard that shows the ranking of HFS Sellers</p><a class="action"
                    href="#"></a>
            </div>
        </div>
        <!-- End: Articles -->
    </div>
</div>
<!-- End: Article List -->
<!-- Start: Features Boxed -->
<div class="features-blue">
    <div class="container">
        <!-- Start: Intro -->
        <div data-aos="zoom-in" class="intro">
            <h2 class="text-center">Features </h2>
            <p class="text-center">Our mobile command center will promise you to provide the following key features.</p>
        </div>
        <!-- End: Intro -->
        <!-- Start: Features -->
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-aos="fade-up-right" class="box"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">Our website will scale across mobile, tablet, desktop and more with no need
                        to update multiple versions. Our site will look beautiful at all resolutions and on all devices.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-aos="fade-left" class="box"><i class="fa fa-refresh icon"></i>
                    <h3 class="name">All Browser Compatible </h3>
                    <p class="description">Access in any browser you have.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-aos="fade-right" class="box"><i class="fa fa-mobile-phone icon"></i>
                    <h3 class="name">Responsive </h3>
                    <p class="description">Our website automatically adjust and adapt to any device screen size, whether
                        it is a desktop, a laptop, a tablet, or a mobile phone..</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-aos="zoom-in" class="box"><i class="fa fa-users icon"></i>
                    <h3 class="name">User Friendly </h3>
                    <p class="description">Making it easy for you to find the information they need quickly and easily
                        on any device..</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-aos="zoom-in" class="box"><i class="fa fa-users icon"></i>
                    <h3 class="name">User Friendly</h3>
                    <p class="description">Making it easy for you to find the information they need quickly and easily
                        on any device..</p>
                </div>
            </div>
        </div>
        <!-- End: Features -->
    </div>
</div>
<!-- End: Features Boxed -->
<!-- Start: Footer Basic -->
<div class="footer-basic">
    <footer>
        <!-- Start: Social Icons -->
        <div class="social"><a href="#">
                <i data-aos="fade-up-right" class="icon ion-social-instagram"></i></a><a href="#">
                <i data-aos="fade-up-right" class="icon ion-social-snapchat"></i></a><a href="#">
                <i data-aos="fade-up-left" class="icon ion-social-twitter"></i></a><a href="#">
                <i data-aos="fade-up-left" class="icon ion-social-facebook"></i></a></div>
        <!-- End: Social Icons -->
        <!-- Start: Links -->
        <!-- <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul> -->
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Copyright © <strong>RGPI IT-Lions.</strong> <img src="{% static 'images/itd_ico.png' %}"
                alt="" weight="20px" height="20px" class="d-inline-block">
            V2.0.0. All rights reserved {% now "Y" %}.</p>
        <!-- End: Copyright -->
    </footer>
</div>
<!-- End: Footer Basic -->
<!-- Start: Article List -->
<div class="article-list"></div>
<!-- End: Article List -->